.main {
  height: 90vh;
}
.explain {
  text-align: center;
  font-size: 3vh;
  width: 90%;
  color: darkgrey;
  font-family: 'Indie Flower', cursive;
  font-style: italic;
}
.search-container {
  height: 18%;
}
.logo {
  width: 45vh;
}

.searchbar {
  font-size: 1.2rem;
  margin-bottom: auto;
  margin-top: auto;
  height: 70px;
  background-color: #353b48;
  border-radius: 35px;
  padding: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .25);
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 5px 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 50px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
}

.search-results {
  margin-top: 2%;
  height: 83%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.search-results::-webkit-scrollbar {
  width:0;
  background-color:transparent;
}

.movie-img {
  min-width: 18rem;
  max-width: 350px;
  margin: 20px;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .25);
}

.movie-card {
  position: relative;
}

.path-fallback {
  word-break: break-all;
  align-self: center;
}
@media screen and (max-width: 768px) {

  .searchbar {
    font-size: 1rem;
    height: 50px;
    padding: 5px;
  }
  .searchbar:hover > .search_input {
    padding: 0 0 0 5px;
    width: 200px;
  }
  .search_icon {
    width: 40px;
    height: 40px;
  }
}


