.movie-messages-container {
  height: 72%;
  overflow-y: auto;
}
.movie-messages-container::-webkit-scrollbar{
    width:0;
    background-color:transparent;
}

.text-white-50 {
  color: rgba(255, 255, 255, .5);
}
.bg-blue {
  background-color:#00b5ec;
}
.box-shadow {
 box-shadow: 3px 3px 4px rgba(0, 0, 0, .25);
}
.margin {
  width: 90%;
  margin: 0 auto;
}
.text-muted {
  word-break: break-all;
}
.add-comment-btn {
  position: absolute;
  bottom: 1%;
  right: 4%;
  width: 60px;
  height: 60px;
  border-radius: 25px;
  padding: 20px 0px;
  background-color: #006666;
  color: white;
  border: none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .25);
}
.add-comment-btn:focus {
  outline: none;
}
.add-comment-btn:hover {
  background-color: #008080;
}

@media (min-width: 319px) and (max-width: 480px) {
 .movie-messages-container  {
    height: 60%;
  }
}