.movie-messages-container {
  margin-top: 2%;
  height: 72%;
  overflow-y: auto;
  position: relative;
}
.movie-messages-container::-webkit-scrollbar{
  width:0;
  background-color:transparent;
}
.text-white-50 {
  color: rgba(255, 255, 255, .5);
}
.bg-blue {
  background-color:#00b5ec;
}
.box-shadow {
 box-shadow: 3px 3px 4px rgba(0, 0, 0, .25);
}
.margin {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.text-muted {
  word-break: break-all;
}
@media (min-width: 319px) and (max-width: 480px) {
 .movie-messages-container  {
    height: 65%;
  }
}